<div class="container-fluid find_us">
  <div class="row">
    <div class="col-md-6 pl-5 pt-4">
      <h1 class="find_us_heading">You can find us <span style="color: #FDB916;">here.</span></h1>
      <div class="mt-4">
        <div class="row mb-4">
          <div class="col-2">
            <img src="../../../assets/images/location.png" class="w-75">
          </div>
          <div class="col-10">
            <h5>Donec sollicitudin molestie malesuada. Sed porttitor lectus nibh.</h5>
          </div>
        </div>
        <div class="row mb-4 d-flex align-items-center">
          <div class="col-2">
            <img src="../../../assets/images/call.png"
              class="w-75">
          </div>
          <div class="col-10">
            <h5>+614042556</h5>
          </div>
        </div>
        <div class="row mb-4 d-flex align-items-center">
          <div class="col-2">
            <img src="../../../assets/images/mail.png" class="w-75">
          </div>
          <div class="col-10">
            <h5>bombayspice@gmail.com</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 pt-4">
      <img src="../../../assets/images/WhatsApp Image 2021-06-13 at 07.48.55.jpeg"
        class="w-100 find_us_img">
    </div>
  </div>
</div>
