<div class="wrapper">
  <div class="header bg-theme">
    <h1 class="font-weight-bold">Privacy Policy</h1>
  </div>
  <div class="body p-4">
    <p class="font-weight-bold">Overview</p>
    <p>We strongly respect your privacy and strive to provide a safe, secure user experience. This Privacy Statement
      sets forth our online data collection and usage policies and practices. By using our services, you consent to the
      policies and practices described in this Statement.<br><br>

      Your data will be stored and processed in or outside and your usage of the site constitutes consent to the
      transfer of your data out of Australia. Our site may contain links to other website over which we have no control
      and we are not responsible for the privacy policies or practices of other websites to which you choose to link
      from the website. We encourage you to review the privacy policies of those other websites so you can understand
      how they collect, use and share your information. This Privacy Statement applies solely to the information we
      collect on bombayspice.com.au and not to information collected otherwise.</p>
    <br>
    <p class="font-weight-bold">Collection and Retention of Information</p>
    <p>In some areas of our website, we request you to provide or submit personal information including your name,
      address, e-mail address, telephone number, contact information, billing information and any other information from
      which your identity is discernible. Bombay spice (bombayspice.com.au) also collects or may collect demographic
      information that might or might not be unique to you such as your ZIP code, age, preferences and gender. Example
      of such a situation could be when you sign up to use our service, place an order or make a payment or browse
      through. In addition we may indirectly collect information about you when you use certain third party services on
      our website; such information will be subject to, and treated in accordance with, the policies and practices
      described in this Statement.<br><br>

      We also gather or may gather certain information about your use of our site, such as what areas you visit and what
      services you access. Moreover, there is information about your computer hardware and software that is or may be
      collected by us. This information can include without limitation your IP address, browser type, domain names,
      access times and referring website addresses.
      <br><br>
      Since we believe that providing you food service is a life-long process, we retain indefinitely all the
      information we gather about you in an effort to make your repeat use with us more efficient, practical, and
      relevant. Of course, you can correct or update your account profile and resume at any time.

    </p>
    <p class="font-weight-bold">Changes to this Privacy Policy</p>
    <p>We may make changes to this Policy from time to time. We will notify you of substantial changes to this Policy
      either by posting a prominent announcement on our site and/or by sending a message to the e-mail address you have
      provided to us.</p>

    <p class="font-weight-bold">No Guarantees</p>
    <p>While this Privacy Policy states our standards for maintenance of data and we will make efforts to meet them, we
      are not in a position to guarantee these standards. There may be factors beyond our control that may result in
      disclosure of data. As a consequence, we disclaim any warranties or representations relating to maintenance or
      nondisclosure of data.</p>
    <p class="font-weight-bold">Contact Information</p>
    <p>If you have any questions about this Policy or our web site, please feel free to contact us at
      care@bombayspice.com.au </p>
  </div>
</div>
