<div class="wraper container-fluid">
  <div class="container-fluid w-100">
    <div class="row w-100">
      <div class="col-md-4 mb-4">
        <h3 class="font-weight-bold">BILLING</h3>
      </div>
      <div class="col-md-8">
        <div class="row d-flex flex-md-nowrap pr-4 float-right justify-content-center">
          <div class="col-4 d-flex flex-nowrap align-items-center mx-3 mb-3">
            <i class="fa fa-filter mr-2" style="font-size: 23px;"></i>
            <select class="select-form">
              <option>Month</option>
            </select>
          </div>
          <div class="col-4 d-flex flex-nowrap align-items-center mx-3 mb-3">
            <i class="fa fa-filter mr-2" style="font-size: 23px;"></i>
            <select class="select-form">
              <option>Year</option>
            </select>
          </div>
          <div class="col-4 mb-3">
            <button class="btn-theme btn">Export</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="table-responsive-md">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>SNO.</th>
          <th>ORDER ID</th>
          <th>DATE</th>
          <th>ORDER AMT.</th>
          <th>TYPE</th>
          <th>AREA</th>
          <th>ADDRESS</th>
          <th>CONTACT</th>
          <th>TOTAL AMT</th>
        </tr>
      </thead>
      <tbody style="height: 53vh;">
        <tr>
          <td>1</td>
          <td>#54567</td>
          <td>04 Jun'21</td>
          <td>$80</td>
          <td>Delivery</td>
          <td>SH</td>
          <td>67 sometown, 6722</td>
          <td>786282663</td>
          <td>$100</td>
        </tr>
        


      </tbody>
      <tfoot class="bg-light">
          <tr>
              <td>100</td>
              <td></td>
              <td></td>
              <td>$5000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>$7500</td>
          </tr>

      </tfoot>

    </table>
    </div>
  </div>

</div>
