<div class="edit-menu-heading">
  <i class="fa fa-edit mt-1"></i>
  <h4 class="font-weight-bold ml-2 mt-2">Edit Menu</h4>
</div>

<div class="edit-menu-section my-4 px-4">
  <div class="row w-100">
    <div class="col-md-5 col-12 mb-4">
      <div class="card shadow-sm" *ngIf="IsEntreeOpen">
        <div class="card-header d-flex justify-content-between py-0">
          <p class="mt-2 mb-2 font-weight-bold">{{ this.selectedCategory.cat_name }}</p>
          <div class="d-flex">
            <img src="../../../../assets/plus-svgrepo-com.svg" (click)="newEntreeOpen()" class="cursor-pointer" width="15px" />
          </div>
        </div>
        <div class="card-body">
          <!-- Menu item -->
          <div class="row mb-2" *ngFor="let menu of menuListByCategory">
            <div class="col-lg-8 col-6">
              <p>{{ menu.Menu_Name }}</p>
            </div>
            <div class="col-lg-4 col-6 text-nowrap text-right pr-0">
              <span>${{ menu.Menu_Price }}</span>
              <button class="btn btn-light bg-white shadow-sm ml-2 border py-0 px-2 rounded float-right" (click)="deleteMenuItem(menu.Menu_Id)">Delete</button>
            </div>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>


    <div class="col-md-7">
        
        <!------- ADD NEW ITEM CARD START ------>
      <div class="card shadow-sm" *ngIf="IsNewItemOpen">
        <div class="card-header d-flex justify-content-between py-0">
          <p class="mt-2 mb-2 font-weight-bold">NEW ITEM</p>
          <div class="d-flex">
            <img src="../../../../assets/arrows_double_left.svg" (click)="newEntreeOpen()" class="cursor-pointer" width="20px" />
          </div>
        </div>
        <div class="card-body" [formGroup]="menuForm">
          <div class="form-group row mb-4">
            <label for="dish_name" class="col-sm-3 col-form-label">Name of the dish</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="dish_name" placeholder="Add name here..." formControlName="name">
              <app-error [FormName]="menuForm.controls.name" [Required]="true"></app-error>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label for="dish_desc" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <textarea type="text" class="form-control" id="dish_desc" placeholder="write description of the dish" rows="5" formControlName="desc"></textarea>
              <app-error [FormName]="menuForm.controls.desc" [Required]="true"></app-error>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label for="dish_price" class="col-sm-3 col-form-label">Price of the dish</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="dish_price" style="width: 20%;" formControlName="price">
              <app-error [FormName]="menuForm.controls.price" [Required]="true"></app-error>
              <app-error [FormName]="menuForm.controls.price" [Number]="true"></app-error>
            </div>
          </div>
        </div>
        <div class="card-footer"><button class="btn border shadow-sm btn-theme" (click)="AddMenu()" [disabled]="menuForm.invalid">Save</button></div>
      </div>
       <!----- ADD NEW ITEM CARD END ------>



      <!------ CATEGORY SECTION START  ----->
      <div class="row" *ngIf="!IsNewItemOpen">
        <div class="col-lg-6 mb-3" *ngFor="let category of categoryList">
          <div class="card card-body py-2 rounded">
             <div class="row">
               <div class="col-lg-9 col-8 category-name" title="{{ category.Cat_Name }}">{{ category.Cat_Name }}</div>
               <div class="col-lg-3 col-4 pr-2 text-right text-nowrap">
                <img src="../../../../assets/plus-svgrepo-com.svg" (click)="openMenu(category.Cat_Id, category.Cat_Name)" class="cursor-pointer" width="15px" />
               </div>
             </div>
          </div>
        </div>
      </div>
      <!------ CATEGORY SECTION END  ----->

    </div>
  </div>
</div>
