.bg-theme{
    background-color: #F0FBFF;
    height: 280px;
}
.para{
    color: #FDB916;
    font-family: sans-serif;
}

#progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    padding-left: 0px;
    margin-top: 3vh
}

#progressbar li {
    list-style-type: none;
    font-size: 1.1rem;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
    color: black
}

#progressbar #step1:before {
    content: "";
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 0px !important
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-left: 32%
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 32%
}

#progressbar #step4:before {
    content: "";
    color: rgb(151, 149, 149, 0.651);
    width: 20px;
    height: 20px;
    margin-right: 28%;
}

#progressbar #step5:before {
    content: "";
    color: rgb(151, 149, 149, 0.651);
    width: 20px;
    height: 20px;
    margin-right: 0px !important
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #fff;
    border: 5px solid #E57A81;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
    margin-bottom: 1vh;
}

#progressbar li:after {
    content: '';
    height: 3px;
    background: #D3222D;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: -1;
    opacity:.5;
}

.progress-track {
    padding: 0 8%
}

#progressbar li:nth-child(2):after {
    margin-right: auto
}

#progressbar li:nth-child(1):after {
    margin: auto
}

#progressbar li:nth-child(3):after {
    float: left;
    width: 68%
}

#progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%
}
#progressbar li.active:before{
 background-color: #fff;
 border: 5.5px solid #D3222D;
 opacity:1;
}
#progressbar li.active:after {
    background: #D3222D;
    opacity:1;
}

#progressbar .unaccept.active:after {
    background: #D3222D;
    opacity:.5;
}
@media(max-width:500px){
    #progressbar li {
        font-size: small !important;
    }
    .thanku-text{
        font-size:22px;
    }
    .para{
        font-size: medium;
    }
}
@media(max-width:320px){
    #progressbar li {
        font-size:x-small !important;
    }
}