<div class="container-fluid" id="main-container">
  <h1 class="font-weight-bold" *ngIf="!IsAdmin">Your Orders</h1>
  <div class="row mb-3" *ngIf="IsAdmin">
    <div class="col-lg-3 pt-3 mb-4">
      <h4 class="font-weight-bold">PAST ORDERS</h4>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-4 pt-1 mb-3">
          <div class="form-group search mt-2">
            <label><i class="fa fa-search"></i></label>
            <input type="text" placeholder="Search order Id" class="form-control" [(ngModel)]="searchValue.orderId"
              (input)="SearchOrder('orderId')" style="text-transform:uppercase">
          </div>

        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 pr-3 pl-lg-0 pl-4 d-flex align-items-center">
          <i class="fa fa-filter mr-3" style="font-size: 23px;"></i>
          <input type="date" class="date" [(ngModel)]="searchValue.createdOn" (change)="SearchOrder('createdOn')">
          <span class="ml-2 mt-1"><img src="../../../../assets/cross-svgrepo-com.svg" width="10px"
              class="cursor-pointer" (click)="dateReset()"></span>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 pl-4 d-flex align-items-center">
          <i class="fa fa-filter mr-3" style="font-size: 23px;"></i>
          <select class="select-form status w-100" [(ngModel)]="searchValue.status" (change)="SearchOrder('status')">
            <ng-container *ngIf="LookupValues">
              <option value="">Status</option>
              <ng-container *ngFor="let c of getLookupValueByCategory('Order_Status')">
                <option value="{{c[1]}}" *ngIf="c[1] == 'D' || c[1] == 'U'">{{c[2]}}</option>
              </ng-container>
            </ng-container>
          </select>
        </div>
        <div class="col-lg-2 mb-3 d-flex align-items-center">

          <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" [(ngModel)]="searchValue.IsRefund"
              (change)="SearchOrder('IsRefund')">
            <label class="custom-control-label" for="switch1">Refund</label>
          </div>

        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="UserOrders">
    <div class="card bg-theme rounded mb-3" *ngFor="let orderId of orderIds">
      <div class="card-header py-1">
        <div class="d-flex justify-content-between align-items-center py-1">
          <h5 class="text-theme cursor-pointer"
            [routerLink]="IsAdmin ? null : ['/order-status', orderId.split(',')[0]]"><i
              class="fa fa-angle-double-right text-dark font-weight-bold mr-1"
              *ngIf="['C', 'W', 'K'].includes(getOrderDetails(orderId, 'Order_Status'))"></i> #{{
            orderId.split(',')[0] }} {{ getOrderDetails(orderId, 'IsRefund') > 0 ? ', REFUNDED' : '' }}</h5>
          <button class="btn-theme btn" (click)="RefundOrder(orderId)"
            *ngIf="getOrderDetails(orderId, 'Order_Status') == 'D' && getOrderDetails(orderId, 'IsRefund') == '0' && IsAdmin">Refund
            Order</button>
          <h5 class="text-theme">${{ getOrderDetails(orderId, 'Order_Total') }}</h5>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-2 text-gray">ORDERED ON</h6>
          <h6 class="mb-2 text-gray">{{ getOrderDetails(orderId, 'Created_On', 'date') }}</h6>
        </div>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-2 text-gray">STATUS</h6>
          <h6 class="mb-2 text-gray">
            {{ getOrderDetails(orderId, 'Order_Status_Desc') }}
            {{ getOrderDetails(orderId, 'Order_Status') == 'U' ? ',' + getOrderDetails(orderId, 'Unacpt_Reason_Desc') : null }}
          </h6>
        </div>
        <h6 class="text-gray">ITEMS</h6>
        <!-- order menu items -->
        <div class="row" *ngFor="let order of UserOrders[orderId]">
          <div class="col-8">
            <h6>{{ order.Menu_Name }}</h6>
          </div>
          <div class="col-4">
            <h6 class="text-right">${{ order.Menu_Price }}</h6>
          </div>
        </div>
        <!-- total -->
        <div class="row" *ngIf="getOrderDetails(orderId, 'Order_Type') == 'D'">
          <div class="col-8">
            <h6>Delivery</h6>
          </div>
          <div class="col-4">
            <h6 class="text-right">${{ getOrderDetails(orderId, 'Delivery_Charge') }}</h6>
          </div>
        </div>

        <!-- Only admin show this section -->
        <div class="admin-panel-past-order" *ngIf="IsAdmin">
          <hr>
          <div class="row">
            <div class="col-lg-2"><p class="mb-2">Name: <span>{{getOrderDetails(orderId, 'Name')}}</span></p></div>
            <div class="col-lg-10"><p class="mb-2" style="word-break: break-all;">Address: <span>{{getOrderDetails(orderId, 'Full_Addr')}}</span></p></div>
          </div>
          <div class="row">
            <div class="col-lg-2"><p class="mb-2">Delivery Type: <span>{{getOrderDetails(orderId, 'Order_Type_Desc')}}</span></p></div>
            <div class="col-lg-4"><p class="mb-2" style="word-break: break-all;">Mobile Number: <span>+{{getOrderDetails(orderId, 'Identification')}}, </span><span>{{getOrderDetails(orderId, 'Phone_No' )!= '--' ? '+'+getOrderDetails(orderId, 'Phone_No' ) : '--'}}</span></p></div>
            <div class="col-lg-3"><p class="mb-2" style="word-break: break-all;">Email: <span>{{getOrderDetails(orderId, 'Email')}}</span></p></div>
            <div class="col-lg-3"><p class="mb-2" style="word-break: break-all;">Delivery Area: <span>{{getOrderDetails(orderId, 'Delivery_Area_Desc')}}</span></p></div>
          </div>
          <!-- <div class="d-flex flex-lg-row flex-column">
            
            <p class="mb-2 ml-lg-5">Address: <span>{{getOrderDetails(orderId, 'Full_Addr')}}</span></p>
          </div> -->
          <!-- <div class="row d-flex">
            <div class="col-lg-2">
              <p class="mb-2">Name: <span>{{getOrderDetails(orderId, 'Name')}}</span></p>
              <p class="">Delivery Type: <span>{{getOrderDetails(orderId, 'Order_Type_Desc')}}</span></p>
            </div>
            <div class="col-lg-3">
              <p class="mb-2">Mobile Number: <span>+{{getOrderDetails(orderId, 'Identification')}}</span></p>
              <p class="mb-2">Alternative Number: <span>{{getOrderDetails(orderId, 'Phone_No' )!= '--' ? '+'+getOrderDetails(orderId, 'Phone_No' ) : '--'}}</span></p>
            </div>
            <div class="col-lg-3">
              <p class="mb-2">Order Total: <span>${{ getOrderDetails(orderId, 'Order_Total') }}</span></p>
              <p class="">Email: <span>{{getOrderDetails(orderId, 'Email')}}</span></p>
            </div>
            <div class="col-lg-4">
              <p class="mb-2 ">Address: <span>{{getOrderDetails(orderId, 'Full_Addr')}}</span></p>
              <p class="">Delivery Area: <span>{{getOrderDetails(orderId, 'Delivery_Area_Desc')}}</span></p>
            </div>
          </div> -->

        </div>

      </div>
    </div>
  </ng-container>
  <ng-container>
    <div class="text-center" *ngIf="!UserOrders">
      <img src="../../../../assets/empty_cart.svg" class="w-25 mt-1 mb-4">
      <h4 style="color: #FDB916;">No Orders Yet</h4>
      <h4>Looks like you, haven't made<br> your order yet.</h4>
    </div>
  </ng-container>
</div>

<div *ngIf="!IsAdmin" class="mt-5 pt-5">
  <!-- Find us section -->
<app-find-us></app-find-us>
<!-- footer section-->
<app-footer></app-footer>

</div>