<div class="container-fluid wrap px-0">
  <div class="row w-100">
    <div class="col-md-6 pl-4 bg-dark m-0 order-md-1 order-2">
      <div class="row pl-2">
        <div class="col-md-6 p-2"><img src="../../../assets/images/WhatsApp Image 2021-06-13 at 07.48.45.jpeg"
            class="w-100"></div>
        <div class="col-md-6 p-2"><img src="../../../assets/images/WhatsApp Image 2021-06-13 at 07.48.55 (1).jpeg"
            class="w-100">
        </div>
      </div>
      <div class="row pl-2">
        <div class="col-md-6 p-2"><img src="../../../assets/images/WhatsApp Image 2021-06-13 at 07.48.55.jpeg"
            class="w-100"></div>

        <div class="col-md-6 p-2"><img src="../../../assets/images/WhatsApp Image 2021-06-13 at 07.48.56.jpeg"
            class="w-100">
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-theme px-5 order-md-2 order-1">
      <div class="w-100">
        <h1 class="heading float-right mt-5">Our Story</h1>
        <p class="d-block float-left text-justify para">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque,
          auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada feugiat. Nulla
          quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla
          quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Sed porttitor lectus nibh.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque,
          auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus magna justo, lacinia eget consectetur sed,
          convallis at tellus.</p>
      </div>
    </div>
  </div>
</div>

<!-- Find us section -->
<app-find-us></app-find-us>
<!-- footer section-->
<app-footer></app-footer>

<!-- <app-cart></app-cart> -->