<div class="container-fluid px-0">
    <!-- Header section -->
    <div class="row w-100">
        <div class="col-md-6 bg-theme wrap text-center mb-5">
            <img src="../../../assets/images/food-6056720_1280_home.jpg" class="home_img">
        </div>
        <div class="col-md-6 pl-5 d-flex align-items-md-center">
            <div>
                <h1 class="mb-4">Get <span>Authentic Indian food</span><br>delivered<br>Right at your doordtep</h1>
                <button class="btn btn-lg btn-home-theme rounded mt-1 px-4" routerLink="/menu">Place an order</button>
            </div>
        </div>
    </div>
    <!-- How it work -->
    <div class="container my-5">
        <h1 class="text-center" style="color: #FDB916;">How it works.</h1>
        <div class="row">
            <div class="col-md-3 text-center">
                <div>
                    <img src="../../../assets/images/5e865e09d8efa3dc2276b60f_Step 01.png" class="w-100">
                </div>
                <h4 class="font-weight-bold">Adapt your menu items</h4>
                <h5>Easily adapt your menu using the webflow CMS and allow customers to browse your items.</h5>
            </div>
            <div class="col-md-1 d-flex align-items-center divider">
                <div style="border:.5px dotted black; width: 100%;" class="dot-direction"></div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <img src="../../../assets/images/5e865e09d8efa3e5bf76b60e_Step 02.png" class="w-100">
                </div>
                <h4 class="font-weight-bold">Accept online orders & takeout</h4>
                <h5>Let your customers order and pay via the powerful ecommerce system, or simple let them call your
                    store.</h5>
            </div>
            <div class="col-md-1 d-flex align-items-center divider">
                <div style="border:.5px dotted black; width: 100%;" class="dot-direction"></div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <img src="../../../assets/images/5e865e09d8efa3001a76b610_Step 03.png" class="w-100">
                </div>
                <h4 class="font-weight-bold">Manage delivery or takeout</h4>
                <h5>Manage your own logistics and take orders simply through the ecommerce system.</h5>
            </div>
        </div>

    </div>

    <!-- menu -->
    <app-menu></app-menu>

</div>