.footer{
    background-color: #FDB916;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer a, .footer p{
    margin-left: 45px;
    margin-right: 45px;
    font-size: 17px;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
}
